extends ./layout

block content
  p Please actual comments and describe issues. i can not see the previous reviews, so saying fix previous is not helpful. 

  p  
    a.button(href='/new') Create New Book
  
    table
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
          each book in Books
            tr
              td
                a(href = "/" + book.id) #{book.title}
              td #{book.author}
              td #{book.genre}
              td #{book.year}
